<nav>
    <ul>      
      <li>
        <a class="nav-link" (click)='goToSignUp()'>SignUp</a>
      </li>
    </ul>
</nav>

<div class="container">
  <div class="row"> 
    <div class="col">
      <label>Username: </label>
      <input type="text" name="" placeholder="email Id" [(ngModel)]="email"/>
    <div>
      <label>Password: </label>
      <input type="password" name="" placeholder="password" [(ngModel)]="password"/>
    </div>
    </div>
  </div>
  <div > <a class="btn btn-warning" (click)="loginClick()">Login In </a>
    </div>
</div>